<mat-card class="shipping-card">
	<mat-card-header>
		<mat-card-title>Espécies</mat-card-title>
	</mat-card-header>
	<mat-card-content>

		<mat-table [dataSource]="species">

			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
				<mat-cell *matCellDef="let specie">
					<a (click)="editSpecie(specie)" class="mat-row-link">{{specie.name}}</a>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="action">
				<mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
				<mat-cell *matCellDef="let specie">
					<button mat-stroked-button color="accent" (click)="deleteSpecie(specie)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

		</mat-table>
	</mat-card-content>
</mat-card>

<button mat-fab color="primary" routerLink="/addspecie" id="add">
	<mat-icon>add</mat-icon>
</button>