<mat-card class="shipping-card">
	<mat-card-header>
		<mat-card-title *ngIf="!suser">Efetue o login na rede social de sua preferência para continuar...</mat-card-title>
		<mat-card-title *ngIf="suser">Bem vindo {{suser.name}}</mat-card-title> 
	</mat-card-header>
	<mat-card-content>

		<div class="card-block">

			<div *ngIf="user && !user.superuser" class="card text-center">
				<h4 class="card-title">{{suser.name}}, você não possui acesso administrativo ao sistema! </h4>
			</div>
		
			<div *ngIf="suser" class="card text-center">
				<img mat-card-image src="{{ suser.photoUrl }}" alt="Foto">
			</div>
		
		</div>

	</mat-card-content>
	<mat-card-actions>
		<button *ngIf="!suser" mat-raised-button color="primary" (click)="signInWithFB()">Login Facebook</button>
		<button *ngIf="!suser" mat-raised-button color="primary" (click)="signInWithGoogle()">Login Google</button>
		<button *ngIf="suser" mat-raised-button color="primary" (click)="signOut()">Logout</button>
	</mat-card-actions>
</mat-card>