.sidenav-container {
	height: 100%;
}

.sidenav {
	width: 210px;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-list-item {
	font-size: 14px;
}
.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.userinfo #avatarpp {
	vertical-align: middle;
	width: 70px;
	height: 70px;
	border-radius: 50% !important;
	margin: 10px !important;
}

.userinfo #username {
	font-weight: bold !important;
	font-size: 16px !important;
	margin: 10px !important;
}
.userinfo #useremail {
	font-size: 12px !important;
	color: gray !important;
	margin: 10px !important;

}
#userseparator {
	margin: 12px;
}