<mat-sidenav-container class="sidenav-container" id="menu_lateral">
	<mat-sidenav #drawer class="sidenav" fixedInViewport="false"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="!(isHandset$ | async)">

		<mat-card-content class="userinfo">

			<div class="row">
				<div class="col">
					<img *ngIf="usuariologado" id="avatarpp" mat-card-image name="photo"
						src="data:image/png;base64,{{usuariologado.photos[0].photo}}" alt="Foto">
						<img *ngIf="!usuariologado" id="avatarpp" mat-card-image name="photo"
						src="/assets/images/avatar.jpg" alt="Foto">
				</div>
			</div>
			<div *ngIf="usuariologado" class="row">
				<div class="col">
					<span id="username">{{usuariologado.name}}</span>
				</div>
			</div>
			<div *ngIf="usuariologado" class="row">
				<div class="col">
					<span id="useremail">{{usuariologado.email}}</span>
				</div>
			</div>

		</mat-card-content>

		<mat-divider id="userseparator"></mat-divider>

		<mat-nav-list>
			<a mat-list-item *ngIf="!usuariologado" routerLink="/login" routerLinkActive="active"><mat-icon>transit_enterexit</mat-icon>Login</a>
			<a mat-list-item *ngIf="usuariologado" routerLink="/login" routerLinkActive="active"><mat-icon>exit_to_app</mat-icon>Logout</a>
			<mat-divider id="userseparator"></mat-divider>
			<a mat-list-item *ngIf="admin" routerLink="/user" routerLinkActive="active"><mat-icon>person</mat-icon>Usuários</a>
			<a mat-list-item *ngIf="admin" routerLink="/specie" routerLinkActive="active"><mat-icon>public</mat-icon>Espécies</a>
			<a mat-list-item *ngIf="admin" routerLink="/breed" routerLinkActive="active"><mat-icon>pets</mat-icon>Raças</a>
			<a mat-list-item *ngIf="admin" routerLink="/attributetype" routerLinkActive="active"><mat-icon>style</mat-icon>Tipos de
				características</a>
			<a mat-list-item *ngIf="admin" routerLink="/attribute" routerLinkActive="active"><mat-icon>turned_in_not</mat-icon>Características</a>
			<a mat-list-item *ngIf="admin" routerLink="/found" routerLinkActive="active"><mat-icon>location_on</mat-icon>Animais encontrados</a>
			<a mat-list-item *ngIf="admin" href="#"><mat-icon>search</mat-icon>Animais perdidos</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span></span>
		</mat-toolbar>
		<router-outlet>
				
		</router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>