<form>
        <mat-card class="shipping-card">
                <mat-card-header>
                        <mat-card-title>Cadastro de Tipos de Atributo</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <div class="row">
                                <div class="col">
                                        <mat-form-field class="full-width">
                                                <input [(ngModel)]="attributetype.name" matInput placeholder="Nome" name="name">
                                        </mat-form-field>
                                </div>
                        </div>             
                </mat-card-content>
                <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="createAttributeType()">Salvar</button>
                </mat-card-actions>
        </mat-card>
</form>