<h2> Tipos de atributo </h2>

<button mat-raised-button color="primary" routerLink="/addattributetype">Novo tipo de atributo</button>
<p></p>
<mat-table [dataSource]="attributetypes">

	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
		<mat-cell *matCellDef="let attributetype"> {{attributetype.name}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="action">
		<mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
		<mat-cell *matCellDef="let attributetype">
			<button mat-raised-button color="primary" (click)="deleteAttributeType(attributetype)">Apagar</button>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>