<form (ngSubmit)="createUser()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Cadastro de usuários</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.name" matInput placeholder="Nome" name="name">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.email" matInput placeholder="Email"
							name="email">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.zipcode" matInput placeholder="Cep"
							name="zipcode">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.adress" matInput placeholder="Endereço"
							name="address">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.city" matInput placeholder="Cidade"
							name="city">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.state" matInput placeholder="Estado"
							name="state">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.country" matInput placeholder="País"
							name="country">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.id_facebook" matInput placeholder="Facebook"
							name="id_facebook">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.id_google" matInput placeholder="Google"
							name="id_google">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="user.lastlocation" matInput
							placeholder="Localização" name="lastlocation">
					</mat-form-field>
				</div>
			</div>

		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary">Salvar</button>
		</mat-card-actions>
	</mat-card>
</form>