<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Edição de usuários</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="name" id="name" matInput placeholder="Nome"
							name="name">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="email" id="email" matInput placeholder="Email"
							name="email">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="zipcode" id="zipcode" matInput placeholder="Cep"
							name="zipcode">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="adress" id="adress" matInput
							placeholder="Endereço" name="adress">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="city" id="city" matInput placeholder="Cidade"
							name="city">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="state" id="state" matInput
							placeholder="Estado" name="state">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="country" id="country" matInput
							placeholder="País" name="country">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="id_facebook" id="id_facebook" matInput
							placeholder="Facebook" name="id_facebook">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="id_google" id="id_google" matInput
							placeholder="Google" name="id_google">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="lastlocation" id="lastlocation" matInput
							placeholder="Localização" name="lastlocation">
					</mat-form-field>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary">Salvar</button>
		</mat-card-actions>
	</mat-card>
</form>