<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Edição de usuários</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="name" id="name" matInput placeholder="Nome"
							name="name">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<input formControlName="email" id="email" matInput placeholder="Email"
							name="email">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="adress" id="adress" matInput
							placeholder="Endereço" name="adress">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<input formControlName="city" id="city" matInput placeholder="Cidade"
							name="city">
					</mat-form-field>
					<mat-form-field style="margin-left:10px">
						<mat-label>Estado</mat-label>
						<mat-select formControlName="state" id="state" name="state">
							<mat-option value="AC">Acre</mat-option>
							<mat-option value="AL">Alagoas</mat-option>
							<mat-option value="AP">Amapá</mat-option>
							<mat-option value="AM">Amazonas</mat-option>
							<mat-option value="BA">Bahia</mat-option>
							<mat-option value="CE">Ceará</mat-option>
							<mat-option value="DF">Distrito Federal</mat-option>
							<mat-option value="ES">Espírito Santo</mat-option>
							<mat-option value="GO">Goiás</mat-option>
							<mat-option value="MA">Maranhão</mat-option>
							<mat-option value="MT">Mato Grosso</mat-option>
							<mat-option value="MS">Mato Grosso do Sul</mat-option>
							<mat-option value="MG">Minas Gerais</mat-option>
							<mat-option value="PA">Pará</mat-option>
							<mat-option value="PB">Paraíba</mat-option>
							<mat-option value="PR">Paraná</mat-option>
							<mat-option value="PE">Pernambuco</mat-option>
							<mat-option value="PI">Piauí</mat-option>
							<mat-option value="RJ">Rio de Janeiro</mat-option>
							<mat-option value="RN">Rio Grande do Norte</mat-option>
							<mat-option value="RS">Rio Grande do Sul</mat-option>
							<mat-option value="RO">Rondônia</mat-option>
							<mat-option value="RR">Roraima</mat-option>
							<mat-option value="SC">Santa Catarina</mat-option>
							<mat-option value="SP">São Paulo</mat-option>
							<mat-option value="SE">Sergipe</mat-option>
							<mat-option value="TO">Tocantins</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<input formControlName="zipcode" id="zipcode" matInput placeholder="Cep"
							name="zipcode">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
					<div class="col">
						<mat-form-field>
							<input readonly="true" formControlName="provider" id="provider" matInput placeholder="Rede Social"
								name="provider">
						</mat-form-field>
					</div>
			</div>
			
			<div class="row">
				<div class="col">
				
						<mat-slide-toggle formControlName="superuser" name="superuser" id="superuser"
							class="example-margin"
							[checked]="superuser">
							Administrador
						</mat-slide-toggle>
				
				</div>
			</div>
			

		</mat-card-content>
		<mat-card-actions>
				<button mat-raised-button color="primary">Salvar</button>
		</mat-card-actions>
		
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Foto</mat-card-title>
				<mat-card-subtitle>{{user.name}}</mat-card-subtitle>
			</mat-card-header>
			<!-- <img data-ng-src="data:image/png;base64,{{user.photo[0]}}" formControlName="photo" mat-card-image alt="Foto"> -->
			<img formControlName="photos" mat-card-image src="data:image/png;base64,{{user.photos[0].photo}}" alt="Foto">
		</mat-card>
		
	</mat-card>

</form>