<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Cadastro de usuários</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Id" formControlName="id" readonly>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Nome" formControlName="name">
						<mat-error *ngIf="addressForm.controls['name'].hasError('required')">
							O Campo nome é obrigatório <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Email" formControlName="email">
						<mat-error *ngIf="addressForm.controls['email'].hasError('required')">
							O Campo email é obrigatório <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Id no Facebook" formControlName="id_facebook">					
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Id no Google" formControlName="id_google">					
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Endereço" formControlName="address">						
					</mat-form-field>
				</div>				
			</div>
			<div class="row" *ngIf="hasUnitNumber">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Cep" formControlName="zip">						
					</mat-form-field>
				</div>				
			</div>
			<div class="row" *ngIf="hasUnitNumber">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Numero" formControlName="number">						
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="País" formControlName="country">						
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Estado" formControlName="estate">						
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Cidade" formControlName="city">						
					</mat-form-field>
				</div>				
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" type="submit">Salvar</button>
		</mat-card-actions>
	</mat-card>
</form>
