<h2>Usuários</h2>

<button mat-fab color="primary" routerLink="/adduser" id="add">
	<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>

<mat-table [dataSource]="users">

	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
		<mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="email">
		<mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
		<mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="action">
			<mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
			<mat-cell *matCellDef="let user">
				<button mat-raised-button color="primary" (click)="editUser(user)">
					<mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
				</button>
				<button mat-raised-button color="accent" (click)="deleteUser(user)">
					<mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>