/* Global style */

html, body {
    height: 100%;
}

body {
    margin: 0px; 
    font-family: Roboto, "Helvetica Neue", 
    sans-serif;
}

#add {
	width: 75px;
	height: 75px;
	position: absolute;
	bottom: 50px;
	right: 50px;
}

mat-card {
	margin: 10px!important;
}

mat-card-header {
	background-color: #f2f2f2;
	margin: -16px!important;
	margin-bottom: 30px!important;
	padding: 18px;
}

mat-card-header mat-card-title {
	margin: 0px!important;
	font-size: 1.5em;
	font-weight: bold!important;
}

mat-row {
	cursor: pointer;
}

mat-row:hover {
	background-color: #f2f2f2;
}