<form (ngSubmit)="createBreed()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Cadastro de raças</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<mat-select 
							[(ngModel)]="selectedSpecie"
							name="specie" 
							placeholder="Espécie">
							<mat-option *ngFor="let specie of species"
								[value]="specie">{{specie.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="breed.name" matInput placeholder="Nome" name="name">
					</mat-form-field>
				</div>
			</div>

			<!-- Measures section start -->
			<div class="row" *ngFor="let measure of measures">
				<mat-form-field class="measures">
					<mat-label>{{measure.labelName | titlecase}} min ({{measure.unit}})</mat-label>
					<mat-select required
						[(ngModel)]="breed['min'+measure.fieldName]" 
						name="min{{measure.fieldName}}">
						<mat-option *ngFor="let dummy of ' '.repeat(measure.max+1).split(''), let x = index" 
							[value]="x">{{x}}</mat-option>
					</mat-select>
				</mat-form-field>
			
				<mat-form-field>
					<mat-label>{{measure.labelName | titlecase}} max ({{measure.unit}})</mat-label>
					<mat-select matNativeControl required
						[(ngModel)]="breed['max'+measure.fieldName]" 
						name="max{{measure.fieldName}}">
						<mat-option *ngFor="let dummy of ' '.repeat(measure.max+1).split(''), let y = index" 
							[value]="y">{{y}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<!-- Measures section end -->

			<!--
			<div class="row">
				<div class="col">
					<mat-form-field>
						<mat-label>Altura mínima</mat-label>
						<select matNativeControl required [(ngModel)]="breed.minheight" name="minheight">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field>
						<mat-label>Altura máxima</mat-label>
						<select matNativeControl required [(ngModel)]="breed.maxheight" name="minheight">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field>
						<mat-label>Expectativa de vida mínima</mat-label>
						<select matNativeControl required [(ngModel)]="breed.minlifetime" name="minlifetime">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<mat-label>Peso mínimo</mat-label>
						<select matNativeControl required [(ngModel)]="breed.minweight" name="minweight">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field>
						<mat-label>Peso máximo</mat-label>
						<select matNativeControl required [(ngModel)]="breed.maxweight" name="maxweight">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field>
						<mat-label>Expectativa de vida máxima</mat-label>
						<select matNativeControl required [(ngModel)]="breed.maxlifetime" name="maxlifetime">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</mat-form-field>
				</div>
			</div>
			-->

			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea [(ngModel)]="breed.origin" matInput placeholder="Origem"
							name="origin"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea [(ngModel)]="breed.slogan" matInput placeholder="Slogan"
							name="slogan"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea [(ngModel)]="breed.summary" matInput placeholder="Resumo"
							name="summary"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea [(ngModel)]="breed.information" matInput
							placeholder="Informações" name="information">
					</textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea [(ngModel)]="breed.look" matInput placeholder="Aparência"
							name="look"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea [(ngModel)]="breed.care" matInput
							placeholder="Cuidados e bem estar" name="care"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea [(ngModel)]="breed.curiosity" matInput
							placeholder="Curiosidades" name="curiosity"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-chip-list #chipList>
						<mat-chip *ngFor="let attrib of breed.attributesbreed" 
							[selectable]="selectable"
							[removable]="removable" 
							(removed)="removeAttribute(attrib)"
							[color]="accent">
							{{attrib.name}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</div>
			</div>

		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary">Salvar</button>
			<button mat-raised-button color="primary" type="button" (click)="addAttribute()">Características</button>
		</mat-card-actions>
	</mat-card>
</form>