<form (ngSubmit)="createBreed()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Cadastro de raças</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<mat-select 
							[(ngModel)]="selectedSpecie"
							name="specie" 
							placeholder="Espécie">
							<mat-option *ngFor="let specie of species"
								[value]="specie">{{specie.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input [(ngModel)]="breed.name" matInput placeholder="Nome" name="name">
					</mat-form-field>
				</div>
			</div>

			<!-- Measures section start -->
			<div class="row" *ngFor="let measure of measures">
				<mat-form-field class="measures">
					<mat-label>{{measure.labelname | titlecase}} min ({{measure.unit}})</mat-label>
					<mat-select required
						[(ngModel)]="breed['min'+measure.fieldname]" 
						name="min{{measure.fieldname}}">
						<mat-option *ngFor="let dummy of ' '.repeat(measure.max+1).split(''), let x = index" 
							[value]="x">{{x}}</mat-option>
					</mat-select>
				</mat-form-field>
			
				<mat-form-field>
					<mat-label>{{measure.labelname | titlecase}} max ({{measure.unit}})</mat-label>
					<mat-select matNativeControl required
						[(ngModel)]="breed['max'+measure.fieldname]" 
						name="max{{measure.fieldname}}">
						<mat-option *ngFor="let dummy of ' '.repeat(measure.max+1).split(''), let y = index" 
							[value]="y">{{y}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea 
							[(ngModel)]="breed.origin" 
							matInput placeholder="Origem"
							maxlength="{{maxLength}}"
							name="origin"
							#origin></textarea>
						<mat-hint align="end">{{origin.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea 
							[(ngModel)]="breed.slogan" 
							matInput placeholder="Slogan"
							maxlength="{{maxLength}}"
							name="slogan"
							#slogan></textarea>
						<mat-hint align="end">{{slogan.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea 
							[(ngModel)]="breed.summary" 
							matInput placeholder="Resumo"
							maxlength="{{maxLength}}"
							name="summary"
							#summary></textarea>
						<mat-hint align="end">{{summary.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea 
							[(ngModel)]="breed.information" 
							matInput placeholder="Informações"
							maxlength="{{maxLength}}"
							name="information"
							#information></textarea>
						<mat-hint align="end">{{information.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea 
							[(ngModel)]="breed.look" 
							matInput placeholder="Aparência"
							maxlength="{{maxLength}}"
							name="look"
							#look></textarea>
						<mat-hint align="end">{{look.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea 
							[(ngModel)]="breed.care" 
							matInput placeholder="Cuidados e bem estar"
							maxlength="{{maxLength}}"
							name="care"
							#care></textarea>
						<mat-hint align="end">{{care.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea 
							[(ngModel)]="breed.curiosity" 
							matInput placeholder="Curiosidades"
							maxlength="{{maxLength}}"
							name="curiosity"
							#curiosity></textarea>
						<mat-hint align="end">{{curiosity.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-chip-list #chipList>
						<mat-chip *ngFor="let attrib of breed.attributesbreed" 
							[selectable]="selectable"
							[removable]="removable" 
							(removed)="removeAttribute(attrib)"
							[color]="accent">
							{{attrib.name}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</div>
			</div>

		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary">Salvar</button>
			<button mat-raised-button color="primary" type="button" (click)="addAttribute()">Características</button>
		</mat-card-actions>
	</mat-card>
</form>