<form [formGroup]="breedForm" novalidate (ngSubmit)="onSubmit()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Cadastro de raças</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Id" formControlName="id" readonly>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Nome" formControlName="name">
						<mat-error *ngIf="breedForm.controls['name'].hasError('required')">
							O Campo nome é obrigatório <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">						
						<textarea matInput placeholder="Slogan" formControlName="slogan"></textarea>
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">						
						<textarea matInput placeholder="Resumo" formControlName="summary"></textarea>
					</mat-form-field>
				</div>				
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">						
						<textarea matInput placeholder="Informações" formControlName="information"></textarea>
					</mat-form-field>
				</div>				
			</div>	
					
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" type="submit">Salvar</button>
		</mat-card-actions>
	</mat-card>
</form>

<!--
`min_life`     smallint(2) NOT NULL ,
`max_life`     smallint(2) NOT NULL ,
`min_height`   smallint(2) NOT NULL ,
`max_height`   smallint(2) NOT NULL ,
`min_weight`     smallint(2) NOT NULL ,
`max_weight`     smallint(2) NOT NULL ,
`curiosity` varchar(5000) ,
`care`     varchar(5000) ,
`look`    varchar(2000) ,
`hair`      varchar(2000) ,
`collor`          varchar(2000) ,
`puppies`     varchar(2000) ,
-->






