<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title>Edição de raças</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input formControlName="name" id="name" matInput placeholder="Nome"
							name="name">
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field>
						<mat-label>Espécie</mat-label>
						<mat-select 
							formControlName="specie" name="specie">
							<mat-option *ngFor="let specie of species"
								[value]="specie.id">{{specie.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<!-- Measures section start -->
			<div class="row" *ngFor="let measure of measures">
				<mat-form-field class="measures">
					<mat-label>{{measure.labelname | titlecase}} min ({{measure.unit}})</mat-label>
					<mat-select required formControlName="min{{measure.fieldname}}">
						<mat-option *ngFor="let dummy of ' '.repeat(measure.max+1).split(''), let x = index" 
						[value]="x">{{x}}</mat-option>
					</mat-select>
				</mat-form-field>
			
				<mat-form-field>
					<mat-label>{{measure.labelname | titlecase}} max ({{measure.unit}})</mat-label>
					<mat-select required formControlName="max{{measure.fieldname}}">
						<mat-option *ngFor="let dummy of ' '.repeat(measure.max+1).split(''), let x = index" 
						[value]="x">{{x}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<!-- Measures section end -->

			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea formControlName="origin" id="origin" matInput #origin
						maxlength="{{maxLength}}" placeholder="Origem" name="origin"></textarea>
						<mat-hint align="end">{{origin.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
					
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea formControlName="slogan" id="slogan" matInput #slogan 
						maxlength="{{maxLength}}" placeholder="Slogan" name="slogan"></textarea>
						<mat-hint align="end">{{slogan.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea formControlName="summary" id="summary" matInput #summary
						maxlength="{{maxLength}}" placeholder="Resumo" name="summary"></textarea>
						<mat-hint align="end">{{summary.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea formControlName="information" id="information" matInput #information
						maxlength="{{maxLength}}" placeholder="Informações" name="information"></textarea>
						<mat-hint align="end">{{information.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea formControlName="look" id="look" matInput #look 
						maxlength="{{maxLength}}" placeholder="Aparência" name="look"></textarea>
						<mat-hint align="end">{{look.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea formControlName="care" id="care" matInput #care 
						maxlength="{{maxLength}}" placeholder="Cuidados e bem estar" name="care"></textarea>
						<mat-hint align="end">{{care.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea formControlName="curiosity" id="curiosity" matInput #curiosity 
						maxlength="{{maxLength}}" placeholder="Curiosidades" name="curiosity"></textarea>
						<mat-hint align="end">{{curiosity.value.length}} / {{maxLength}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-chip-list #chipList>
						<mat-chip *ngFor="let attrib of editForm.value.attributes" 
							[selectable]="selectable"
							[removable]="removable" 
							(removed)="removeAttribute(attrib)"
							[color]="accent">
							{{attrib.name}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</div>
			</div>
		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button color="primary">Salvar</button>
			<button mat-raised-button color="primary" type="button" (click)="addAttribute()">Características</button>
		</mat-card-actions>
	</mat-card>
</form>